/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
 * Slideshow styles
 */

@font-face {
    font-family:"prosa";
    src: url(../fonts/Inconsolata.otf) format("truetype");
}

@font-face {
    font-family:"code";
    src: url(../fonts/TerminusBold.ttf) format("truetype");
}

body {
    color: #000000;
    font-family:"prosa";
    font-size: 30pt;
    background: #FFA340;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#FFBC73), to(#FFA340));
}

.step {
    width:900px;
}


.tech {
    font-weight: bold;
    color: #A40004;
}

.protocol {
    color: #892276;
    display: inline-block;
}

.ttt {
    color: #444444;
    display: inline-block;
    font-family:"code";
    font-size: bold;
}

.chunk {
    border: solid 20px #A65600;
    height: 700px;
}


/* Title styles */
#title-page h1 {
    text-align: left;
    font-weight: bold;
    font-size: 130pt;
    margin: 0 0 50px 0;
}

#title-page h2 {
    text-align: left;
    font-weight: bold;
    font-size: 40pt;
    margin: 0 0 50px 0;
}

#title-page h3 {
    text-align: right;
    font-weight: bold;
    font-size: 20pt;
    text-align: right;
    margin: 0 0 50px 0;
}

/* Abstract styles */
#abstract h2 {
    text-align: center;
    font-weight: bold;
    font-size: 50pt;
    margin: 0 0 50px 0;
}

#abstract p {
    margin: 30px;
}

#abstract div {
    text-align: center;
}

#abstract a {
    font-size: 15pt;
    display: block;
}


/* Technologies styles */
.techs {
    border-color: #FE3F44;
}

.techs h1 {
    text-align: left;
    font-weight: bold;
    font-size: 60pt;
    margin: 140px 0 0 20px;
}

.techs p {
    margin: 20px 40px;
}

#techs ul {
    font-size: 40pt;
    margin: 100px 400px;
    list-style: square;
}

/* Techs.Python */
#techs_pcapy div {
    text-align: center
}

/* Techs.struct */
#techs_unpack h2 {
    margin: 30px 0 20px 20px;
}

#techs_unpack ul {
    margin-left: 40px;
}

#techs_unpack li {
    margin: 5px 0;
}

/* Design */
.design {
    border-color: #770060;
}

.design h1 {
    font-size: 40pt;
    font-weight: bold;
    margin-top: 120pt;
    margin-bottom: 40pt;
    margin-left: 45pt;
}

#design li {
    margin-top: 25px;
    margin-left: 150px;
    margin-right: 50px;
    list-style: square;
}

#design_code h2 {
    font-size:40pt;
    margin-left: 100px;
}

#design_ls h2, #design_sniff h2, #design_offline h2 {
    font-size: 40px;
    margin-left: 50px;
    margin-top: 30px;
}

#design_ls p, #design_sniff p, #design_offline p {
    margin-left: 20px;
}

#design_issues li {
    margin-top: 25px;
    margin-left: 90px;
    margin-right: 20px;
    list-style: square;
}

#design_issues div {
    text-align:center;
}

#design_questions {
    padding-left: 900px;
}
